html, body {
	background-color: #F1F1F1;
	min-height: 100%;
}

body {
	position: relative;
}

.content input[type=text], .content input[type=password] {
	border: 1px solid;
	border-radius: 14px;
	border-color: rgb(221, 221, 221);
	height: 30px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background-color: #000000;
	opacity: 0.95;

	display: none;
}

.payment .bold {
	font-weight: 600;
}

.semi-bold {
	font-weight: 600;
}

.modal {
    width: 387px;
    height: 163px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -81.5px;
    margin-left: -193.5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 99999999; /* 1px higher than the overlay layer */
    opacity: 1;

    display: none;
}

.clearfix {
	clear: both;
}

.hidden {
	display: none;
}

.content {
    width: 940px;
    margin: 0 auto;
    margin-top: 85px;
}

.content.identify {
	width: 620px;
}

.content.wide {
	width: 940px;
}

.content.payment {
	margin-top: 36px;
}

.module {

}

.installment-value.bold {
	font-weight: 600;
	font-size: 16px;
}

.left {
	float: left;
}

#update_name, #update_birthdate {
	padding-left: 10px;
}

#select-estado_container {
	display: none!important;
}

/* logout box */
.logout-box {
	padding: 15px 20px 15px 20px;
}

.logout-box p {
	font-size: 21px;
	font-weight: 600;
}

.logout-box .buttons {
	width: 50%;
	margin: 0 auto;
	margin-top: 17px;
}

.logout-box .buttons .btn {
	width: 65px;
	height: 40px;
	float: left;
	border-radius: 3px;
	padding: 9px 0px 9px 0px;
	text-align: center;
	cursor: pointer;
}

.logout-box .buttons .yes {
	border: 2px solid #EDEDED;
	font-weight: 600;
}

.logout-box .buttons .no {
	background-color: #FF7212;
	color: white;
	margin-left: 43px;
}
/* errors */

.error {

}

.error .small-icon {
	background: url('../img/error-small.png') no-repeat;
	width: 16px;
	height: 16px;
}

.success .small-icon {
	background: url('../img/ok-small.png') no-repeat;
	width: 16px;
	height: 16px;
}


.error.domain {
	margin-left: 45px;
}

.success.domain {
	margin-left: 45px;
}


button#consultar-dominio {
	border: 1px solid #D7D7D7;
	border-radius: 3px;
	font-size: 14px;
	width: 81px;
	height: 26px;
	margin-top: 0px;
	margin-left: 10px;
	clear: both;
}


.has-error {
	border-color: red !important;
	background: url('../img/error-small.png') right 10px center no-repeat;
}

.error-msg.captcha {
	left: 0px;
	top: 3px;
}

.error-msg.captcha.login {
	top: 4px;
	left: 8px;
}

#ddd_residencial.has-error, #ddd_celular.has-error, #ddd_contatos.has-error { background: none !important; }

.error-msg {
	color: #FF2209;
	font-style: italic;
	font-size: 14px;
	/*left: 70px;*/
	position: relative;
	margin-top: 15px;
	margin-bottom: 9px;
	display: none;
}
#generic-error {
	display:none;
	border:solid 2px red;
	padding: 10px 20px;
	text-align: left;
	color: #FF2209;
	font-style: italic;
	font-size: 14px;
	margin: 15px 0;
}

#login-generic-error {
	color: #FF2209;
	font-style: italic;
	font-size: 14px;
	left: 21px;
	position: relative;
}

.security-area {
	padding: 0 20px;
}

.validation-ok {
	background: url('../img/ok-small.png') right 10px center no-repeat;
}

.border-ok {
	border: 1px solid #54C23D!important;
}

#username-error {
	display: block;
	width: 330px;
}

#username-success {
	display: block;
	width: 330px;

	color: #54C23D;
	font-style: italic;
	font-size: 14px;
	position: relative;
	margin-top: 15px;
	margin-bottom: 9px;
}

#sexo-error {
	color: #FF2209;
	font-style: italic;
	font-size: 14px;
	top: 13px;
	position: relative;
}

.payment-error {
	color: #FF2209;
	font-style: italic;
	font-size: 14px;
	position: relative;
	display: block;
	top: -26px;
}

.payment-error.congrats {
	width: 517px;
	font-size: 16px;
	font-style: normal;
	margin-top: 2px;
	float: left;
	margin-left: 16px;
}

#status-refused {
	margin-top: 50px;
}
.clickable.has-error {
	border: 2px solid;
	border-color: red;
	border-radius: 8px;
	background-position: -2px !important;
}

.error .big-icon {
    background: url('../img/error-big.png') no-repeat;
    width: 46px;
    height: 46px;
    float: left;
}

#status-refused .big-icon {
	margin-top: -19px;
}
 
.error .msg, .passw {
    color: #FF2209;
    font-style: italic;
    font-size: 14px;
    margin-left: 7px;
 
}

.success .msg, .passw {
	color: #54C23D;
	font-style: italic;
	font-size: 14px;
	margin-left: 7px;
}


#sexo-error {
	color: #FF2209;
	font-style: italic;
	font-size: 14px;
	top: 13px;
	position: relative;
}
 
.payment-confirmation .error {
    margin-top: 35px;
    margin-bottom: 30px;
 
}
 
.payment-confirmation .error-msg {
    color: #FF1F06;
    font-weight: 600;
    width: 536px;
    margin-left: 17px;
    float: left;
}

/* cart */

.module.cart {
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0px 2px 3px #888888;
	width: 620px;
	color: #33332C;
	padding: 22px 11px 22px 19px;
	margin: 0 auto;
	margin-top: 25px;
}

.cart .promo {
    font-size: 12px;
    margin-top: 8px;
    font-style: italic;
    width: 412px;
}

.cart .total-value.prp {
	margin-right: 68px;
}

.cart .total-value.prp.identify {
	float: right;
	margin-right: 8px;
	margin-top: 10px;
	margin-left: 0px;
	width: 120px;
}

.cart .product-title.item1 {
	margin-top: 0px;
}

.cart .product-title {
	margin-top: 18px;
}

.cart .installment-prp.promo {
	width: auto;
	display: block;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 14px;
	font-style: normal;
	text-align: right;
}

.payment .cart-title, .payment-confirmation .cart-title {
	margin-top: 44px;
}

.cart-title {
	float: left;
}

.cart-wrap p#first {
	font-size: 40px;
	margin-left: -2px;
}

.cart-wrap p#second {
	color: #65655D;
	margin-top: 11px;
	font-size: 20px;
}

.cart .product-title, .congratulations .cnt-cart-desc .product-name {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 14px;
}

.congratulations .cnt-cart-desc .product-name {
    background: url('../img/cart-bullet.png') no-repeat;
}

.cart .product-desc {
	float: left;
    width: 383px;
    font-size: 13px;
    text-align: justify;
}

.cart .value {
	float: right;
	margin-right: 8px;
}

.cart .numbers {
	display: inline;
	font-weight: 600;
	font-size: 20px;
}

.cart .installment {
	display: inline;
	font-size: 12px;
}

.forms-wrap {
	margin-top: 30px;
}

.cart .btn-exit {
	float: right;
	margin-right: 8px;
	cursor: pointer;
	margin-left: 48px;
}

/* inherited cart */

.page-section .cart {
	margin-top: 16px;
}

.page-section .cart .value {
	margin-left: 210px;
	margin-top: 2px;
}

.page-section .cart .product.item {
	margin-bottom: 20px;
}

.page-section .cart .product.item.bulleted {
    margin-left: 28px;
}

.page-section .cart hr.bottom {
	background-color: #D7D7D7;
	height: 1px;
	border: 0;
	margin-right: 9px;
}

.page-section .cart .total-value {
	float: right;
	margin-top: 7px;
}

.page-section .cart p.total {
	float: left;
	margin-right: 106px;
	margin-right: 29px;
	font-size: 14px;
	margin-top: 2px;
}

.page-section .cart .combo {
    font-weight: 600;
    margin-bottom: 12px;
}
 
.page-section .cart .bullet {
    background: url('../img/cart-bullet.png') no-repeat;
    width: 10px;
    height: 11px;
    float: left;
    margin-top: 4px;
}

.page-section .cart p.price {
	float: left;
	font-weight: 600;
	color: #33332C;
	margin-right: 8px;
}

.page-section .cart .total-value .installment {
	margin-right: 64px;
}

/* hosting section in cart */

.hosting {
	margin-top: 16px;
}

.hosting .fields-wrap {

}

.hosting .input {
	margin-top: 8px;
}

.hosting .www {
	float: left;
	margin-top: 14px;
	font-size: 14px;
}

.hosting .text-field.big {
	margin-left: 7px;
}

.hosting .domain-select {
	background-color: #F1F1F1;
	border-radius: 3px;
	margin-top: 7px;
	margin-left: 17px;
}

.hosting .domain-select option {
	background-color: white;
}

/* logged in msg */

.welcome {
	float: right;
	color: #33332C;
	font-size: 14px;
	margin-bottom: 23px;
}

.welcome.back {
    margin-top: -52px;
    display: none;
}

.welcome .msg {
	float: left;
	margin-right: 13px;
	margin-top: 6px;
}

.welcome p {

}

.welcome .full-name {
	font-weight: 600;
}

.welcome .logout-btn {
	float: right;
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #D7D7D7;
	font-weight: 600;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}


/* steps */

.steps {
	float: right;
	display: none;
}

.steps .item {
	width: 84px;
	height: 79px;
	float: left;
	text-align: center;
	color: #A5A598;
	border: 1px solid #A5A598;
	margin-left: 15px;
	padding-top: 2px;
}

.steps .item.selected {
	color: #65655D;
	border-color: #65655D;
}

.steps .numeration {
	font-size: 33px;
}

.steps .info {
	text-transform: uppercase;
	font-size: 12px;
}



/* login box */

.login-box {
	width: 300px;
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0px 2px 3px #888888;
	float: left;
}

.login-box .top {
	background-color: #65655D;
	padding: 14px 20px 14px 25px;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 3px;
	border-bottom-right-radius: 0px;
  	border-bottom-left-radius: 0px;
}

.login-box .top p {

}

.login-box .login-form-wrap {

}

.login-box #loginForm {

}

.login-box .input {
	width: 260px;
	border: 1px solid;
	outline: 0;
	color: #65655D;
	padding-left: 10px;
	font-size: 14px;
	margin-top: 18px;
	margin-left: 20px;
	border-color: rgb(221, 221, 221);
	font-style: italic;
}

.login-box #username {
    background: url('../img/input-username.png') no-repeat;
}

.login-box #password-login {
	background-color: #f1f1f1;
}

.login-box .forgot-password {
	text-align: right;
	margin: 10px 0px 10px 0px;
	font-size: 12px;
	margin-right: 21px;
}

.login-box .forgot-password a {
	color: #33332C;
	text-decoration: none;
	border-bottom: 1px solid #CCCCCA;
}

.login-box .forgot-password a:hover {
	background-color: #FF954D;
	text-decoration: none;
	opacity: 0.80;
	color: #FFFFFF;
}

.login-box .buttons {
	padding-top: 7px;
	padding-bottom: 50px;
	margin-left: 20px;
}

.login-box .buttons #cancel {
	background: none;
	border: 1px solid #D7D7D7;
	border-radius: 3px;
	padding: 7px 20px 7px 20px;
	font-weight: 600;
}

.login-box .buttons #submit {
	background-color: #FF7212;
	border: none;
	border-radius: 3px;
	padding: 4px 24px 6px 24px;
	font-size: 15px;
	
	color: #FFFFFF;
	float: right;
	margin-right: 21px;
}

#register-captcha-area {
    /*display: none;*/
}

.or {
	color: #33332C;
	text-transform: uppercase;
	float: left;
	margin-top: 115px;
	width: 175px;
    text-align: center;
}

.form-button {
	background-color: #FF7212;
	width: 145px;
	height: 56px;
	line-height: 56px;
	float: right;
	color: #FFFFFF;
	text-align: center;
	border-radius: 3px;
	margin-top: 97px;
	cursor: pointer;
	position: relative;
	font-size: 18px;
	/*padding: 17px 24px 38px 24px;*/
}

.form-button:hover, .login-box #submit:hover, #nh-header:hover {
    opacity: 0.80;
}

.form-button p {
	
}

/* register form */

.page-wrap {
	background-color: #FFFFFF;
	padding: 25px 30px 25px 30px;
	margin-top: 27px;
}

.page-wrap .title {

}

.page-wrap .title p {
	font-size: 22px;
	font-weight: 600;
}

.page-wrap .section-info {
	margin-top: 5px;
	margin-bottom: 5px;
}

.page-wrap .section-info p {
	font-size: 14px;
}

.page-wrap .page-section {
	margin-top: 20px;
	margin-bottom: 20px;
}

.page-section p.section-title {
	color: #FF7212;
	float: left;
	font-size: 18px;
	font-weight: 600;
	position: absolute;
	background: #fff;
	padding-right: 15px;
}

.page-section hr.orange {
	float: left;
	background-color: #FF7212;
	height: 2px;
	border: 0;
	width: 100%;
	margin-top: 11px;
}

.payment .payment-method-radio:nth-of-type(2), .payment .payment-method-radio:nth-of-type(3) {
    margin-left: 52px;
}

.page-wrap .fields-wrap {

}

.page-wrap .fields-wrap.payment {
	margin-top: 57px;
}

.fields-wrap .highlighted {
	color: #FF7212;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

.highlighted.bottom {
	margin-top: 35px;
}

.fields-wrap .input {
	margin-bottom: 27px;
}

.fields-wrap .input.left {
	float: left;
	margin-right: 50px;
}

.fields-wrap .input.left.birthday {
	margin-top: 18px;
}

.fields-wrap label {
	font-weight: 600;
	font-size: 13px;
}

.input .checkbox-label {
	font-weight: normal;
}

.input .checkbox-label a {
	color: #33332C;
	padding: 0px 2px 0px 1px;
}

.input .checkbox-label a:hover {
	background-color: #FF954D;
	text-decoration: none;
	opacity: 0.80;
	color: #FFFFFF;
}

.fields-wrap .block {
	display: block;
}

.fields-wrap .input .element {
	display: inline-block;
}

.fields-wrap .radio-label, .fields-wrap .radio-btn {
    cursor: pointer;
    font-size: 13px;
}

.fields-wrap .input .element:nth-of-type(2)  {
	margin-left: 38px;
}

.register-form .fields-wrap .input .radio {
    margin-left: 46px;
}
 
.register-form .fields-wrap .input .radio:nth-of-type(1) {
    margin-left: 0px;
 
}

.fields-wrap .input .radio {

}

.fields-wrap .input .text-field {
	padding-left: 10px;
	outline: none;
	display: block;
	font-size: 14px;
	font-style: italic;
	margin-top: 4px;
}

.fields-wrap.additional .input.first {
    margin-top: 21px;
}

.fields-wrap .input .inline {
	display: inline-block;
}

.fields-wrap .input .smaller, #select-estado_input {
	width: 43px;
}

.fields-wrap .input .small {
	width: 85px;
}

.fields-wrap .input .small-medium {
	width: 130px;
}

.fields-wrap .input .medium2 {
	width: 153px;
}

.fields-wrap .input .medium-big {
	width: 185px;
}

.hosting .big {
	float: left;
}

.fields-wrap .input .big {
	width: 358px;
}

.fields-wrap .input .bigger {
	width: 391px;
}

.fields-wrap .input .biggest {
	width: 603px;
}

.fields-wrap .input .biggest-ever {
	width: 772px;
}

.find-your-cep {
	margin-top: 4px;
}

.find-your-cep a {
	color: #33332C;
	font-size: 12px;
}

.fields-wrap .input .help {
	font-size: 11px;
	margin-left: 8px;
}

.fields-wrap .info {
	font-size: 12px;
	margin-bottom: 25px;
}

.fields-wrap .info.payment {
	font-size: 13px;
} 

.fields-wrap .required-fields {
	float: right;
	margin-right: 28px;
	font-size: 11px;
	font-weight: 600;
	margin-top: -43px;
}

/* username */
.username-data ul#users-list{
	width: 290px;
	padding: 10px 0 0 0;
}

.username-data ul#users-list li{
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 0 8px;
    width: 100%;
}

.username-data ul#users-list li span{
	width: 140px;
	display: block;
	float: left;
	font-size: 14px;
}

.username-data ul#users-list li a{
	border: 1px solid #D7D7D7;
    border-radius: 3px;
    color: #000;
    float: right;
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none;
    height: 25px;
    line-height: 24px;
}

.username-data #consultar-username {
	border: 1px solid #D7D7D7;
    border-radius: 3px;
    font-size: 14px;
    width: 81px;
    height: 25px;
    margin-top: 10px;
}
.username-data.fields-wrap input#userName {
	width: 208px;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border: 1px solid #D7D7D7;
	margin: 10px 0;
}

#recaptcha_reload,
#recaptcha_switch_audio, 
#recaptcha_whatsthis, 
#recaptcha_switch_img,
#recaptcha_area #recaptcha_table #recaptcha_reload_btn { display:block; background-color:#FF7212 !important; }
#recaptcha_area #recaptcha_table #recaptcha_switch_audio_btn { display:block; background-color:#FF7212 !important; }
#recaptcha_area #recaptcha_table #recaptcha_whatsthis_btn { display:block; background-color:#FF7212 !important; }

#login-captcha-area #recaptcha_table { width: 284px; float:none; margin: 0 0 0 8px !important; }
#recaptcha_table { width: 284px; float:none; margin: 0 !important; }
#recaptcha_table #recaptcha_challenge_image { width: 235px; }
.captcha-recaptcha #recaptcha_response_field,
#recaptcha_table #recaptcha_response_field {
    border-radius: 0;
    margin-left: 7px;
    width: 238px;
    padding-left: 5px;
    height: 32px;
}
.captcha-recaptcha,
.captcha-recaptcha #recaptcha_area {
    height: auto !important;
    float: none !important;
    margin: 0 !important;
}

.required-fields.boleto {
    display: none;
    margin-top: 1px!important;
}

.payment .required-fields {
	margin-top: -72px;
}

.label-payment, .payment-method-radio {
    cursor: pointer;
}

.dont-worry-be-happy {
	background-color: #FFCE1E;
	border-radius: 3px;
	width: 284px;
	height: 76px;
	padding: 10px;
	float: right;
	margin-right: 8px;
}

.dont-worry-be-happy.card {
	margin-top: 19px;
}

.dont-worry-be-happy .user-logo {
	background: url('../img/user-lock.jpg') no-repeat;
	width: 52px;
	height: 40px;
	float: left;
}

.dont-worry-be-happy .card-logo {
	background: url('../img/card-lock.png') no-repeat;
	width: 52px;
	height: 42px;
	float: left;
	margin-top: 2px;
}

.dont-worry-be-happy .do-not-worry {
	font-size: 13px;
	font-weight: bold;
	margin-left: 65px;
}

.dont-worry-be-happy .info {
	font-size: 12px;
	margin-left: 66px;
	margin-top: 5px;
}

.submit-button {
	margin-top: 20px;
	position: relative;
}

.payment-confirmation .submit-button {
    float: left;
}
 
.payment .btn:hover {
    opacity: 0.80;
}

.submit-button .btn {
	border: none;
	color: white;
	cursor: pointer;
	font-size: 16px;
	padding: 12px 16px 12px 16px;
	float: left;
	background-color: #FF7212;
	border-radius: 3px;
}

.submit-button .btn:hover {
    opacity: 0.80;
}

.submit-button .fill-the-fields {
	font-size: 13px;
	font-style: italic;
	float: left;
	margin-left: 18px;
	width: 290px;
	color: #65655D;
	margin-top: 5px;
	line-height: 18px;
}

/* payment methods */

.radio-wrap {
	margin-top: -11px;
}

.input.prp .radio-wrap {
	margin-top: 17px;
}

.radio-wrap .item {
	float: left;
	text-align: center;
}

.radio-wrap .vsa-logo {
	background: url('../img/visa-logo.png') no-repeat;
	width: 72px;
	height: 52px;
	cursor: pointer;
}

.radio-wrap .crd-logo {
	background: url('../img/master-logo.png') no-repeat;
	width: 72px;
	height: 52px;
	cursor: pointer;
}

.radio-wrap .amx-logo {
	background: url('../img/amex-logo.png') no-repeat;
	width: 71px;
	height: 52px;
	cursor: pointer;
}

.radio-wrap .bradesco-logo {
    background: url('../img/ico-bradesco.png') no-repeat;
    width: 72px;
    height: 52px;
    cursor: pointer;
}
 
.radio-wrap .santander-logo {
    background: url('../img/ico-santander.png') no-repeat;
    width: 72px;
    height: 52px;
    cursor: pointer;
}
 
.radio-wrap .itau-logo {
    background: url('../img/ico-itau.png') no-repeat;
    width: 72px;
    height: 52px;
    cursor: pointer;
}
 
.radio-wrap .hsbc-logo {
    background: url('../img/ico-hsbc.png') no-repeat;
    width: 72px;
    height: 52px;
    cursor: pointer;
}
 
.radio-wrap .bb-logo {
    background: url('../img/ico-bb.png') no-repeat;
    width: 72px;
    height: 52px;
    cursor: pointer;
}
 
.radio-wrap input[type=radio] {
    cursor: pointer;
} 


.radio-wrap .input-radio {

}

.credit.card-data-wrap {
 
}
 
.debit.card-data-wrap, .debit.radio-wrap, .credit.card-data-wrap, .credit.radio-wrap {
    display: none;
}

.radio-wrap .payment-radio {
	margin-top: 8px;
}

.card-data-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}
 
.input.accept {
    /*margin-top: -20px;*/
    width: 371px;
}
 
.boleto-msg {
    display: none;
    margin-top: -1px;
    font-weight: 600;
    margin-bottom: 36px;
    font-size: 14px;
}
 
.radio-wrap .item {
    margin-left: 13px;
    cursor: pointer;
}
 
.radio-wrap .item:nth-of-type(1) {
    margin-left: 0px;
}

.username-data {
    position: relative;
}
.username-data .username-consultation {
    position: absolute;
    top: 68px;
    left: 355px;
}
 
.username-data ul#users-list{
    width: 290px;
    padding: 10px 0 0 0;
}
 
.username-data ul#users-list li{
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 0 8px;
    width: 100%;
}
 
.username-data ul#users-list li span{
    width: 140px;
    display: block;
    float: left;
    font-size: 14px;
}
 
.username-data ul#users-list li a{
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    color: #000;
    float: right;
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none;
    height: 25px;
    line-height: 24px;
}
 
.username-data #consultar-username {
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    font-size: 14px;
    width: 81px;
    height: 25px;
    margin-top: 10px;
}
.username-data.fields-wrap input#userName {
    width: 208px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #D7D7D7;
    margin: 10px 0;
}
 
#recaptcha_reload,
#recaptcha_switch_audio, 
#recaptcha_whatsthis, 
#recaptcha_switch_img,
#recaptcha_area #recaptcha_table #recaptcha_reload_btn { display:block; background-color:#FF7212 !important; }
#recaptcha_area #recaptcha_table #recaptcha_switch_audio_btn { display:block; background-color:#FF7212 !important; }
#recaptcha_area #recaptcha_table #recaptcha_whatsthis_btn { display:block; background-color:#FF7212 !important; }

#recaptcha_reload:hover,
#recaptcha_switch_audio:hover, 
#recaptcha_whatsthis:hover, 
#recaptcha_switch_img:hover,
#recaptcha_area #recaptcha_table #recaptcha_reload_btn:hover {
	opacity: 0.80;
}

#login-captcha-area #recaptcha_table { width: 284px; float:none; margin: 0 0 0 8px !important; }
#recaptcha_table { width: 284px; float:none; margin: 0 !important; }
#recaptcha_table #recaptcha_challenge_image { width: 235px; }
.captcha-recaptcha #recaptcha_response_field,
#recaptcha_table #recaptcha_response_field {
    border-radius: 0;
    margin-left: 7px;
    width: 238px;
    padding-left: 5px;
    height: 32px;
}
.captcha-recaptcha,
.captcha-recaptcha #recaptcha_area {
    height: auto !important;
    float: none !important;
    margin: 0 !important;
}
 
/*payment confirmation - step 3*/
 
.payment-confirmation {
    margin-top: 45px;
}
 
.payment-confirmation .page-wrap {
    margin-top: 35px;
}
 
.payment-confirmation .bold {
    font-weight: 600;
}
 
.payment-confirmation .page-wrap .info {
    font-size: 14px;
}
 
/* congratulations */
 
.congratulations {
 
}
 
.congratulations-msg {
    margin-top: 25px;
    margin-bottom: 22px;
}
 
.congratulations-msg p {
    color: #51BD36;
    font-weight: bold;
    float: left;
    margin-left: 7px;
}
 
.congratulations .success-check {
    background: url('../img/success-ico.png') no-repeat;
    width: 18px;
    height: 18px;
    float: left;
}
 
.congratulations .underline {
    text-decoration: underline;
}
 
.congratulations .cart {
    margin-top: 30px;
}

.congratulations .cart li.clearfix {
	margin-top: 20px;
	margin-bottom: 20px;
} 
 
.congratulations .cart .product-title, .congratulations .cnt-cart-desc .product-name {
    margin-bottom: 6px;
    padding-left: 19px;
    background-position: 0px;
}
 
.congratulations .highlighted {
    margin-bottom: 7px;
}
 
.congratulations .product-desc, .congratulations .cnt-cart-desc .product-description {
    width: 100%;
    font-size: 13px;
    line-height: 19px;
}
 
.congratulations ul li {
    font-size: 13px;
    margin-top: 5px;
}
 
.congratulations .submit-button .btn, .congratulations .button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    padding: 9px 20px 9px 20px;
    float: left;
    background-color: #FF7212;
    border-radius: 3px;
    font-size: 16px;
    text-transform: lowercase;
 
}

.congratulations .submit-button a {
	text-decoration: none;
	margin-top: -12px;
	font-style: normal;
}
 
.congratulations img.pull-left {
    display: none;
}
 
.congratulations .button {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
.congratulations .info.top {
    margin-top: 15px;
    margin-bottom: 15px;
}
 
.congratulations .use-conditions {
 
}
 
.congratulations .data-wrap {
 
}
 
.congratulations .data-wrap .line-wrap {
 
}
 
.congratulations .line-wrap .data-label {
    float: left;
    width: 150px;
    font-size: 13px;
    text-align: right;
    margin-left: -17px;
}
 
.congratulations .line-wrap .data-info {
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin-left: 8px;
}
 
.congratulations .line-wrap .data-info.upper {
    text-transform: uppercase;
}
 
.congratulations .buttons {
    margin-top: 35px;
}
 
.congratulations .finish-btn {
    height: 30px;
    float: left;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
    font-weight: 600;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 15px;
}
 
.congratulations .finish-btn.save {
    margin-left: 0px;
}
 
.congratulations .access-data {
    margin-top: 20px;
}
 
 
.congratulations .finish-btn.save {
    border: 1px solid #D7D7D7;
    width: 90px;
}
 
.congratulations .finish-btn.print {
    border: 1px solid #D7D7D7;
    width: 108px;
}
 
.congratulations .finish-btn.finish {
    border: 1px solid #FF7212;
    background-color: #FF7212;
    color: #FFFFFF;
    width: 100px;
}
 
.congratulations .finish:hover {
    opacity: 0.80;
}
 
.congratulations a {
    color: #000000;
}
 
/* need help? */
 
#need-help {
    border-radius: 3px;
}
 
#need-help #nh-header {
    background-color: #D7D7D7!important;
    height: 39px!important;
    color: #33332D!important;
}
 
/* contratos */
 
.view-contracts {
	display: none;
	position: absolute;
	z-index: 50;
	left: 524px;
	width: 183px;
	padding: 8px 10px;
	border: solid 1px #E6E6E6;
	background: #FFFFFF;
	margin-top: -100px;
}

.view-contracts a {
	display: block;
	margin-bottom: 3px;
	font-size: 12px;
	color: #575757;
	text-decoration: none;
	font-weight: 600;
}

.view-contracts a:hover {
	background-color: transparent!important;
	text-decoration: underline!important;
	color: #33332C!important;
}

.view-contracts a#close-contracts {
	position: absolute;
	top: 0;
	right: 0;
	color: red;
	background-color: transparent!important;
	margin-top: 3px;
	margin-right: 3px;
}

.view-contracts a#close-contracts:hover {
	color: red!important;
	text-decoration: none!important;
}
 
#address-city-state {
    display: inline-block;
    margin-bottom: 25px;
}
 
#captcha-caption {
    font-size: 12px;
}
 
#captcha-caption .link {
    cursor: pointer;
    color: #FF7212;
    text-decoration: underline;
}
 
.input.sex {
    margin-bottom: 10px;
}
 
.input.sex label[for=sexo] {
    margin-bottom: 7px;
}
 
.registerF label[for=nh-phone], .registerF label[for=nh-area-code] {
    display: none!important;
}
 
.cart .total-value .price .installment {
    font-weight: normal;
}

.loader-gif {
  content: url(../img/loader.gif);
  position: relative;
  left: 15px;
  top: 6px;
}

.footer {
	width: 100%;
	display: none;
	background-color: white;
	padding-top: 25px;
}

.content.payment.register-form .footer, .content.congratulations.payment.payment-ok .footer {
	padding-top: 0px;
}

.content.congratulations.payment .footer {
	padding-top: 410px;
}

#footer-border {
	background-color: #D7D7D7;
	border: 0px;
	height: 1px;
	width: 878px;
	margin: 0 auto;
}

.footer iframe {
	width: 100%;
	background-color: white;
}

.bubble {
	position: absolute;
	width: 220px;
	padding: 10px;
	background: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.pointer {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 17px 19px 0;
	border-color: #E6E6E6 transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -17px;
	left: 38px;
}

.pointer:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 16px 18px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: 1px;
	left: -18px;
}

.paswd-strength-wrap {
	position: absolute;
	border: solid 1px #E6E6E6;
	width: 248px;
	height: 88px;
	padding: 21px 12px 21px 15px;
	background: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 212px;
	margin-top: -67px;
	font-size: 12px;
}

.paswd-strength-wrap .strength-pointer {
	background: url('../img/pswd_strength_pointer.png') no-repeat;
	width: 21px;
	height: 22px;
	position: absolute;
	left: 0;
	margin-left: -21px;
	margin-top: -13px;
}

.paswd-strength-wrap .paswd-weak {
	color: #FF1700;
	text-transform: uppercase;
}

.paswd-strength-wrap .paswd-normal {
	color: #FFD000;
	text-transform: uppercase;
}

.paswd-strength-wrap .paswd-strong {
	color: #4CBF27;
	text-transform: uppercase;
}

.paswd-strength-wrap .status {
	border: 1px solid #D7D7D7;
	margin-top: 7px;
}

.paswd-strength-wrap .option {
	float: left;
	width: 72px;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	font-size: 10px;
	padding: 4px 22px 5px 22px;
}

.paswd-strength-wrap .option.first {
	border-left: none;
	border-right: none;
}

.paswd-strength-wrap .option.first.selected {
	background-color: #FF1D00;

}

.paswd-strength-wrap .option.second {

}

.paswd-strength-wrap .option.second.selected {
	background-color: #FFCF00;
}

.paswd-strength-wrap .option.third {
	border-right: none;
	border-left: none;
}

.paswd-strength-wrap .option.third.selected {
	background-color: #52C528;
}

.paswd-strength-wrap .option.selected {
	color: white;
}

.input.sms {
	cursor: pointer;
}

.sms-check {
	float: left;
	cursor: pointer;
}

.input.sms p {
	float: left;
	margin-top: -1px;
	font-size: 13px;
	color: #65655F;
	margin-left: 7px;
}

#cep-info {
	float: left;
}

#cep-info .input {
	margin-bottom: 16px;
}

.manual-state {
	margin-top: 65px;
	margin-left: -13px;
}

.manual-state #select-estado_input {
	padding-left: 9px;
	font-style: italic;
	margin-top: 4px;
}


/*
  WINDOW
*/

.window{
  display:none;
  padding:4px 2px 2px;
  border:1px solid #F90;
  top:50%;
  background:#FFF;
  z-index:500;
  *padding-bottom:0;
}
.window#already-registered{
  left:50%;
  position: fixed;
  width: 404px;
}
.window#already-registered .form-structure li {
  float:none;
  width: 376px;
}
.window p{
  margin:0;
  font-size:14px;
  font-weight:bold;
  color:#575757;
}
.window button{
  background:none #F90;
  width:202px;
  height:29px;
  color:#FFF;
  text-indent:0;
}
.window button strong{
  font-size:21px;
}
.window .close{
  display:block;
  position:absolute;
  top:-10px;
  right:-10px;
  height:20px;
  width:20px;
  background:url('../img/close.png') no-repeat;
  text-indent:-9999px;
  outline:none;
}
.window .title{
  font-size:24px;
  color:#F8981F;
  margin-bottom:16px;
}
.window .name,
.window .email{
  font-size:14px;
  color:#F8981F;
  font-weight:normal;
}
.window .forgot,
.window .forgot:hover,
.window .forgot:focus{
  color:#949494;
  margin-left:10px;
  font-size:14px;
}
.window .form-structure{
  margin:0;
  width:99%;
  border:1px solid #575757;
}
.window .form-structure li{
  margin:0 0 9px;
  padding:9px 10px 0;
}

#contactDDD {width: 35px}
#contactPhone {width: 100px}

.submit-loader {
	position: absolute;
	width: 26px;
	height: 26px;
	top: 12px;
	left: 224px;
	background:url("../img/loader.gif") no-repeat center;
	display: none;
}
.submit-button .btn[disabled] {
	opacity: 0.5;
	cursor: default;
}
