// You can use this file to register variables, placeholders and other
// models, to be reused in your main.scss file.
// In your theme-default.scss, this file is already being imported.

// Variables
// ---------

$white: #fff;
$black: #000;

$linkColor: $zaz__grayLighter;

$bgArrowIcon: $zaz__brandingDarkest;
$bgCookieMsg: $zaz__brandingLightest;
